@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Välkommen till Termkatalogen för FHIR resursen Library</h1>
    <p>Mer info om <a href="https://www.servicewell.se/">Service Well AB</a>.</p>
</div>
