@page
@model PrivacyModel
@{
    ViewData["Title"] = "Om Termkatalogen";
}
<h1>@ViewData["Title"]</h1>

<p>Termkatalogen innehåller termer för FHIR resursen Library, som är en behållare för allmäna termer. Resursen är till för att definiera och beskriva nuvarande och nya kunskapsbegrepp inom vården. </p>
 <p>  Utveckligen av termkatalogen gavs som uppdrag av Service Well till fyra studenter från det Systemvetenskapliga programmet på Lunds Universitet som en del av deras slutgiltiga projektarbete. </p>
